<footer class="footer">
  <div class="logo-footer">
    <img src="/images/logoKevin.svg" alt="Kevin's Logo" />
    <p id="time-now"></p>
  </div>
  <!-- <div class="link">
    <a href="/">Shop</a>
    <a href="/">About</a>
    <a href="/">Contact</a>
    <a href="/">Terms of Service</a>
  </div> -->
  <div class="social-footer">
    <a href="#">
      <i class="ti-facebook"></i>
    </a>
    <a href="#">
      <i class="ti-linkedin"></i>
    </a>
    <a href="#">
      <i class="ti-twitter-alt"></i>
    </a>
  </div>
  <p>© <%= new Date().getFullYear() %> Kevin's. All rights reserved.</p>
</footer>
